body {
    background: #F7EAC8;
}

#nav {
    font-family: "Open Sans Condensed";
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 0px;
    background: #E8B71A;
}

#logo {
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.item img {
    margin: auto;
    width: auto;
}

.background_header {
     margin: 20px 0px;
     text-align: center;
}

.background_header_one {
    font-size: 48px;
    text-align: center;
    font-family: "Open Sans Condensed";
    color: #F7EAC8;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    background: #DB3340;
}

.background_header_two {
    font-size: 24px;
    text-align: center;
    font-family: "Open Sans Condensed";
    color: #DB3340;
    background: #F7EAC8;
}

.background_header_three {
    font-size: 48px;
    text-align: center;
    font-family: "Open Sans Condensed";
    color: #F7EAC8;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    background: #1FDA9A;
}

.background_main {
     background: #F7EAC8;
     text-align: center;
}

#quotes {
    margin: 20px 20px;
}

#citations {
    color: #F7EAC8;
    font-size: 21px;
    font-family: "Open Sans Condensed";
    text-transform: uppercase;
    background: #E8B71A;
    border-left:#E8B71A;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#factory_one, #factory_two, #factory_three {
    display: inline-block;
}

#enterprise_one, #enterprise_two, #enterprise_three {
    text-align: justify;
    text-indent: 20px;
    color: black;
    font-size: 17px;
    line-height: 1.3;
    font-family: "Open Sans Condensed";
    background-color: transparent;
}

.pictures {
    float: left;
    margin: 10px 20px;
    width: 200px;
    height: 150px;
    border-radius: 20px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
    background: url('images/cambridge.jpg') center no-repeat;
}

iframe, .design {
    display: inline-block;
    margin: 20px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#headphone {
    float: right;
    margin: 10px 20px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.background_notice {
    background: #F7EAC8;
    height:100px;
    border: 1px solid blue;
}

.background_footer {
    background: #28ABE3;
    height:100px;
    border: 1px solid blue;
}



#product {
    margin: auto;
    background: #f7eac8;
    border: 1px solid blue;
}

#all_product {
    text-align: center;
    background: #f7eac8;
    border: 1px solid red;
}

figure {
    display: inline-block;
    margin: 20px 5px;
    border: 1px solid black;
}

figure img {
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#avstrijska_sv_small, #avstrijska_tem_small, #california_bil_small, #california_small {
    margin: 20px;
    color: #28ABE3;
    font-family: "Open Sans Condensed";
    font-size: 15px;
    text-transform: uppercase;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

#avstrijska_sv, #avstrijska_tem, #california_bil, #california {
    display: none;
    width: 900px;
    height: 1100px;
    box-sizing: border-box;
    position: absolute;
    bottom: 150px;
    left: 150px;
    text-align: center;
    background: #f7eac8;
}

.all_product img {
    clear: both;
    width: 1000px;
    border-radius: 10px;
    box-shadow: 0px 10px 16px 0px rgba(0, 0, 0, 0.2), 0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}

.all_product p {
    margin: 10px;
    color: #DB3340;
    font-family: "Open Sans Condensed";
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;  
}

#about_product {
    float: left;
    width: 400px;
    margin-top: 150px;
}

#price_product {
    float: right;
    width: 400px;
    margin-top: 150px;
}














