.background_header_two h2 {
    font-size: 28px;
    line-height: 2.1;
}

.background_main {
    background: #F7EAC8;
    text-align: center;
}

#headphone {
    margin-top: -80px;
}

#factory_one, #factory_two, #factory_three {
    margin-top: 0px;
    margin-left: 50px;
    width: 500px;
}

#enterprise_one, #enterprise_two, #enterprise_three {
    display: inline-block;
    width: 200px;
    font-size: 11px;
    padding: 5px;
}

#enterprise_two, #enterprise_three {
    width: 400px;
}

.pictures {
    display: inline-block;
}

#quotes {
    margin-left: 100px;
}

#citations {
    font-size: 11px;
}