.background_header_one h1 {
    font-size: 18px;
    padding-left: 0px;
}

.background_header_two h2 {
    font-size: 18px;
    line-height: 3.1;
}

.background_main {
    background: #F7EAC8;
    text-align: center;
}

#headphone {
    display: none;
}

#factory_one, #factory_two, #factory_three {
    display: block;
    margin: 5px;
    width: 90%;
}

#enterprise_one, #enterprise_two, #enterprise_three {
    display: inline-block;
    width: 100%;
    font-size: 11px;
}

#quotes {
    display: block;
    margin: auto;
    width: 90%;
    height: auto;
}

#citations {
    font-size: 11px;
}