.pictures {
    width: 175px;
    height: 125px;
}

#factory_one, #factory_two, #factory_three {
    width: 175px;
    margin-top: 135px;
}

#enterprise_one, #enterprise_two, #enterprise_three {
   font-size: 11px 
}

#factory_one {
    margin-left: 200px;
}

#quotes {
    width: 350px;
    margin-left: 400px;
}